@page "/notes"
@using SqliteWasmHelper;
@* @inject BlazorWasmTester.Features.SimpleSQLiteTest.INotesRepository NotesRepository *@
@inject ISqliteWasmDbContextFactory<NotesDbContext> Factory
@inject NavigationManager NavManager

<h1>Notes</h1>

@if (notesRepository != null && notesRepository.GetNotes().Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Created At</th>
                <th>Creator</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var note in notesRepository.GetNotes())
            {
                <tr>
                    <td>@note.Id</td>
                    <td>@note.Title</td>
                    <td>@note.Content</td>
                    <td>@note.CreatedAt.ToLocalTime</td>
                    <td>@note.Creator</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No notes found.</p>
}


@* <a href="/blazor-wasm-tester/create-note">Create New Note</a> *@

<div class="nav-item px-3">
    <NavLink class="nav-link" href="create-note">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Create note
    </NavLink>
</div>


https://github.com/dotnet/efcore/issues/9842
https://learn.microsoft.com/en-us/ef/core/managing-schemas/migrations/applying?tabs=dotnet-core-cli#apply-migrations-at-runtime



@code{
    NotesRepository notesRepository;

    protected override async Task OnInitializedAsync()
    {
        NotesDbContext notesContext = await Factory.CreateDbContextAsync();
        
        
        notesRepository = new NotesRepository(notesContext);
        // return base.OnInitializedAsync();
    }
}