@page "/mudTest"

@*https://mudblazor.com/components/textfield#immediate-vs-debounced*@
@*https://stackoverflow.com/questions/74787002/blazor-text-input-call-method-each-time-when-new-character-is-changed-without-pr*@

<MudTextField DebounceInterval="500" OnDebounceIntervalElapsed="HandleIntervalElapsed" @bind-Value="@_debouncedText" HelperText="@_debouncedText" Label="Debounced" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" />

<p>Length: @textLength</p>
<p>Number of Digits: @numberOfDigits</p>
<p>Number of Letters: @numberOfLetters</p>

@code {

    string _debouncedText = "f";

    private int textLength;
    private int numberOfDigits;
    private int numberOfLetters;


    void HandleIntervalElapsed(string debouncedText)
    {
        // at this stage, interval has elapsed
        ComputeInformation();
    }

    private void ComputeInformation()
    {
        
        textLength = _debouncedText.Length;
        numberOfDigits = _debouncedText.Count(char.IsDigit);
        numberOfLetters = _debouncedText.Count(char.IsLetter);
    }
}